.cart-main {
  width: 100vw;
}
.cart-wrapper {
  justify-content: start;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  max-width: 100%;
}
.cart-bill {
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
}

.cart-card-list {
  flex-shrink: 2;
}

@media screen and (max-width: 700px) {
  .cart-wrapper {
    flex-wrap: wrap;
  }

  .cart-wrapper .cart-bill.card-vertical {
    order: -1;
    width: 100%;
    max-width: 100vw;
  }
}
