html {
  --off-white: rgb(250, 250, 250);
}
.product-card-button {
  width: 100%;
}

.rating-star {
  color: yellow;
}

.card-img {
  object-fit: contain;
  margin: 2px;
  border: 0.5px solid var(--black);
  background-color: var(--off-white);
}

.card-vertical .card-img {
  height: 60%;
}

.product-card .card-btn,
.cart-card .card-btn {
  max-width: 80%;
  margin: 0 auto;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 9px -1px var(--primary-color);
}

.display-block {
  display: block;
}

.cart-card-list {
  width: 70rem;
  height: 30rem;
}

.cart-card > .card-body {
  width: 60%;
}

.counter-button {
  font-size: 2rem;
  margin: 0 5px;
}

.item-counter input[type="number"] {
  width: 3ch;
  height: 70%;
  padding-left: 2ch;
  -moz-appearance: textfield;
  padding-top: -2px;
}

.item-counter input[type="number"]::-webkit-outer-spin-button,
.item-counter input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-counter {
  display: flex;
  align-items: center;
}

.cart-bill {
  justify-content: start;
}

.product-card {
  width: 30rem;
  height: 50rem;
}

.no-show {
  display: none;
}

/* .card-description {
  max-height: 40%;
  width: 100%;
} */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badge-count {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  padding: 0 0.5rem;
  font-weight: bold;
  color: var(--black);
}
