.product-card-button {
  width: 100%;
}

.rating-star {
  color: yellow;
}

.card-img {
  width: 80%;
  height: auto;
  object-fit: contain;
  margin: auto;
  padding: 5px;
  border: 2px solid black;
}
