.success-page section {
  padding-top: 10rem;
}

.success-page .flex-column {
  gap: 5rem;
  text-align: center;
}

.products-display-grid {
  padding: 5px 5% 5%;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  max-width: 100vw;
}

.products-display-grid .product-card {
  width: 100%;
  margin: auto;
}
