.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--translucent-gray);
  z-index: 99;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 95%;
}
