.header {
  position: sticky;
  z-index: 99;
  width: 100%;
  margin: 0;
}

.navbar-container {
  min-height: 6rem;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .search-box {
    display: none;
  }
  .nav-logo {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .search-box {
    display: none;
  }
  .nav-logo {
    display: block;
  }
}
