/* @import url(https://socket-ui.netlify.app/components/components.css); */
@import url(https://ecommerce-app-ankit9015.netlify.app/main.css);

/* .global-footer {
  position: absolute;
  bottom: 0;
  margin: auto;
} */

html {
  min-height: 100%;
  --primary-color: #ffaa00;
}

.page-layout {
  display: flex;
  flex-direction: column;
}

.page-layout__main {
  flex: 1;
}

.page-layout:last-child {
  margin-top: auto;
}
